.topCarousel .rec.rec-dot {
    border-radius: 4px;
    height: 4px;
    width: 35px;
    background-color:#6b6a67;
    box-shadow: none;
  }
  .topCarousel .rec.rec-dot_active{
    background-color: black;
    box-shadow: none;
  }
  .topCarousel button:hover button:focus{
    box-shadow: none;
  }